<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>

        <menuitem id="menu_delete_all_company_data_wizard" name="Delete all company data wizard" parent="base.menu_custom" sequence="40" groups="base.group_system,base.group_erp_manager" action="action_delete_all_company_data_wizard"/>

    </data>
</odoo>